@media screen and (max-width: 1000px) {
    #icons2 > label{
        margin-left: 5vw;
        font-size: 3vw;
    }
    #icons1{
        padding-top: 5vw;
    }

    #icons2{
        width: 80%;
        margin: auto;
        padding-top: 10vw;
    }

    #f1c{
        width: 15vw;
        height: 18vw;
        border-radius: 10px;
    }

    #f2c{
        width: 18vw;
        height: 21vw;
        border-radius: 10px;
    }

    #rd{
        width: 14vw;
        height: 17vw;
        margin-top: 5vw;
        margin-left: 2vw;

        border-radius: 10px;
    }

    .dent{
        top: 12vw;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        padding: 0.2vw 0.25vw;
    }

    /*Responsivo do menu*/

    #mn{
        height: 3vw;
    }
    
    #mn > div{
        width: 20%;
        height: 5vw;
        margin-top: -2.5vw;
        margin-right: 10vw;
        line-height: 5vw;
    }
    
    #mn > div > h3{
        font-size: 2vw;
    }

    #op{
        height: 12vw;
        line-height: 8vw;
    }

    #op > div{
        width: 20%;
        height: 5vw;
        margin-top: -2.5vw;
        margin-right: 10vw;
        line-height: 5vw;
    }
    
    #op > div > h3{
        font-size: 2vw;
    }

    .gb1{
        width: 40%;
        height: 3vw;
        padding: 1vw;
        font-size: 1.5vw;
        margin-right: 6vw;
    }
    
    .gb2{
        width: 15%;
        height: 3vw;
        font-size: 1.5vw;
    }
}

@media screen and (max-width: 600px) {

    .NomeSite{
        font-size: 8vw;
        text-align: center;
        padding: 4vw 0;
        color: red;
        font-weight: bold;
    }

    #icons2 > label{
        margin-left: 4vw;
        font-size: 5vw;
    }
    #icons1{
        padding-top: 5vw;
    }

    #icons2{
        width: 80%;
        margin: auto;
    }

    #f1c{
        width: 20vw;
        height: 23vw;
        border-radius: 10px;
    }

    #f2c{
        width: 23vw;
        height: 27vw;
        border-radius: 10px;
    }

    #rd{
        width: 19vw;
        height: 23vw;
        margin-top: 10vw;
        margin-left: 2vw;

        border-radius: 8px;
    }


    .dent{
        height: 10vw;
        top: 13vw;
        border-bottom-left-radius: 9px;
        border-bottom-right-radius: 9px;
        padding: 0px;
    }
    .dent > label{
        font-size: 1.7vw;
    }
    
    .dent > p{
        font-size: 1vw;
        padding-top: 0.2vw;
    }

    /*Responsivo do menu*/

    #mn{
        height: 3vw;
    }
    
    #mn > div{
        width: 20%;
        height: 5vw;
        margin-top: -2.5vw;
        margin-right: 10vw;
        line-height: 5vw;
    }
    
    #mn > div > h3{
        font-size: 2vw;
    }

    #op{
        height: 50vw;
    }

    #op > div{
        width: 20%;
        height: 5vw;
        margin-top: -2.5vw;
        margin-right: 10vw;
        line-height: 5vw;
    }
    
    #op > div > h3{
        font-size: 2vw;
    }

    .gb1{
        width: 80%;
        height: 8vw;
        padding: 1vw;
        font-size: 2.5vw;
        margin: 2vw auto;
        display: block;
    }
    
    .gb2{
        width: 50%;
        height: 8vw;
        font-size: 2.5vw;
        display: block;
        margin: 2vw auto;
    }
}